section.guarantee
    .container.guarantee__container
        .services__title.guarantee__title
            span.section-title__line.section-title__line--left
            h2.section-title Наши 
                span Гарантии
            span.section-title__line.section-title__line--right
        ul.guarantee__list.list-reset
            li.guarantee__item
                .guarantee__image
                    +icon("guarantee-1")
                h3.guarantee__name Работа строго по договору
                span.guarantee__desc Все официально!
            li.guarantee__item
                .guarantee__image
                    +icon("guarantee-2")
                h3.guarantee__name Фиксированная стоимость
                span.guarantee__desc Работ и материалов!
            li.guarantee__item
                .guarantee__image
                    +icon("guarantee-3")
                h3.guarantee__name Гарантия на монтаж
                span.guarantee__desc 24 месяца!
            li.guarantee__item
                .guarantee__image
                    +icon("guarantee-4")
                h3.guarantee__name Гарантия на оборудование
                span.guarantee__desc От 2-10 лет!