.slider-controls {
    display: flex;
    align-items: center;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: #27AE60;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        &--prev {
            background-image: url(../img/prev.svg);
        }
        &--next {
            background-image: url(../img/next.svg);
        }
        svg {
            width: 24px;
            height: 24px;
        }
    }
    &__pag {
        display: flex;
        align-items: center;
        font-size: 14px;
        background-color: #27AE60;
        color: #fff;
        height: 32px;
        font-family: "Roboto", sans-serif;
        padding: 0 15px;
        font-weight: 500;
        border-right: 1px solid #236C4C;
        border-left: 1px solid #236C4C;
    }
}

.swiper {
    &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        &-bullet {
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 100%;
            background-color: #798797;
            transition: background-color 0.3s, transform 0.3s;
            outline: none;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 12px;
            }
            &-active {
                transform: scale(1.3);
                background-color: #27AE60;
            }
        }
    }
    &-scrollbar {
        display: flex;
        align-items: center;
        background-color: #ebedee;
        height: 4px;
        &-drag {
            margin-right: 0;
            height: 100%;
            border-radius: 0;
            border-radius: 15px;
            background-color: #bb8e34;
        }
    }
}