header.header.lazy(data-bg="img/main-bg.png")
    .header__top
        +burger
        .header__left
            a.link-home(href="/" aria-label="Ссылка на главную страницу")
                +icon("home")
            nav.nav
                ul.nav__list.list-reset
                    li.nav__item.nav__item--dropdown
                        a.nav__link(tabindex="0")
                            | О компании
                            +icon("down")
                        ul.nav-dropdown.list-reset
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") О компании
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") Новости
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") Партнерам
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") Вопрос-ответ 
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") Видео
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") Отзывы
                    li.nav__item.nav__item--dropdown
                        a.nav__link(tabindex="0")
                            | Покупателям
                            +icon("down")
                        ul.nav-dropdown.list-reset
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") Как сделать заказ?
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") Нашли дешевле?
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") Оплата
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") Доставка 
                            li.nav-dropdown__item
                                a.nav-dropdown__link(href="#") гарантия и возврат
                    li.nav__item
                        a.nav__link(href="#") Статьи
                    li.nav__item
                        a.nav__link(href="#") Акции
        .header__right(data-da=".nav,768,last")
            a.header__link(href="#")
                +icon("map")
                | Санкт-Петербург
            a.header__link(href="#")
                +icon("favorites")
                | В избранном (1)
            .header-control
                a.header-control__cab(href="#" aria-label="Войти в кабинет")
                    +icon("account")
                a.header-control__link(href="#")
                    |Вход
                    span.header-control__sep /
                    |Регистрация
    .header__middle
        a.logo.header__logo(href="/")
            img.logo__image(src="img/logo.png", alt="Логотип сайта")
            .logo__text
                span.logo__title STOPRADIATORS
                span.logo__subtitle все инженерные сети
            .logo__desc МОНТАЖ ИНЖЕНЕРНЫХ СИСТЕМ
                span И ПРОДАЖА ОБОРУДОВАНИЯ
        .header__actions(data-da=".header__top,768,last")
            .header__actions-wrapper(data-da=".nav,1024,last")
                .tell.header__tell
                    a.tell__icon(href="#")
                    .tell__text
                        a(href="tel:88122452346").tell__value.tell__value--bold 8 (812) 245-23-46
                        a(href="tel:88122452346").tell__value 8 (812) 245-23-46
                    button.btn-reset.btn.modal-btn.tell__btn.primary-btn(data-graph-animation="fedIn" data-graph-path="first" data-graph-speed="0") Заказать звонок!
                .mail.header__mail
                    a.mail__icon(href="#")
                    .mail__text
                        span.mail__value Пн-Пт 9:00-19:00
                        a.mail__value.mail__value--bold(href="mailto:info@stopradiators.ru") info@stopradiators.ru
            .cart.header__cart
                a.cart__info(href="#")
                    +icon("cart")
                    span.cart__quantity 1
                .cart__text
                    span.cart__desc 1 т. на сумму
                    span.cart__title 74 587 Руб.
    .container.header__bottom
        ul.main-menu.list-reset
            li.main-menu__item
                a.main-menu__link.main-menu__link--active
                    | Услуги
                    +icon("down")
                .menu-dropdown
                    .menu-dropdown__top
                        .menu-dropdown__col
                            h2.menu-dropdown__title Монтаж систем отопления
                            ul.menu-dropdown__list.list-reset
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Монтаж систем радиаторного отопления
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Монтаж водяного теплого пола
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Монтаж котельного оборудования
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Монтаж тепловых насосов
                        .menu-dropdown__col
                            h2.menu-dropdown__title Монтаж водоснабжения
                            ul.menu-dropdown__list.list-reset
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Монтаж систем водоподготовки
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Монтаж насосного оборудования
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Монтаж сантехнических приборов
                        .menu-dropdown__col
                            h2.menu-dropdown__title Монтаж канализации и стоков
                            ul.menu-dropdown__list.list-reset
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Монтаж станций биологической очистки
                                li.menu-dropdown__item
                                    a.menu-dropdown__link(href="#") Монтаж канализации
                    .menu-dropdown__bottom
                        ul.menu-dropdown__list.menu-dropdown__bottom-list.list-reset
                            li.menu-dropdown__item
                                a.menu-dropdown__link.menu-dropdown__link--2(href="#") Монтаж систем вентиляции 
                            li.menu-dropdown__item
                                a.menu-dropdown__link.menu-dropdown__link--2(href="#") Проектирование инженерных систем
                        ul.menu-dropdown__list.menu-dropdown__bottom-list.list-reset
                            li.menu-dropdown__item
                                a.menu-dropdown__link.menu-dropdown__link--2(href="#") Поставка оборудования для инженерных систем
                            li.menu-dropdown__item
                                a.menu-dropdown__link.menu-dropdown__link--2(href="#") Обслуживание систем отопления, водоснабжения, канализации 
                        ul.menu-dropdown__list.menu-dropdown__bottom-list.list-reset
                            li.menu-dropdown__item
                                a.menu-dropdown__link.menu-dropdown__link--2(href="#") Промывка систем отопления хвс, гвс
                            li.menu-dropdown__item
                                a.menu-dropdown__link.menu-dropdown__link--2(href="#") Мониторинг инженерных систем

                        a.menu-dropdown__btn.primary-btn(href="#") Цены на&nbsp;услуги
            li.main-menu__item(data-da=".nav__list,576,last")
                a.main-menu__link(href="#") Каталог оборудования
            li.main-menu__item(data-da=".nav__list,576,last")
                a.main-menu__link(href="#") Наши работы
            li.main-menu__item(data-da=".nav__list,576,last")
                a.main-menu__link(href="#") Контакты
        form.search-form.header__search-form(role="search" method="get" action="#" data-da=".header__middle,1024,1")
            input.search-form__input(name="s" value="" placeholder="Поиск по сайту")
            button.btn-reset.search-form__btn(type="submit")
                +icon("search")
    if page === 'index'
        .container.header__container
            .swiper-container.header-slider
                .swiper-wrapper
                    .swiper-slide.header-slide.header-slide--1
                        .header-slide__bg.header-slide__bg--1.lazy(data-bg="img/hero-bg.png")
                        .header-slide__content
                            span.header-slide__subtitle Бесплатная доставка по Санкт-Петербургу
                            h1.header-slide__title АКЦИЯ! Выгодная цена оборудования с монтажом!
                            p.header-slide__desc При покупке котла, или другого оборудования, вы можете получить его бесплатный монтаж специалистами или значительную скидку!
                    .swiper-slide.header-slide.header-slide--2
                        .header-slide__bg.header-slide__bg--2.lazy(data-bg="img/hero-bg-2.png")
                        .header-slide__content
                            span.header-slide__subtitle Якорная скоба в обоймах 2,5 рубля за шт.
                            h1.header-slide__title 500 шт в коробке. 1250 рулей за коробку!
                            p.header-slide__desc При покупке котла, или другого оборудования, вы можете получить его бесплатный монтаж специалистами или значительную скидку!
                .slider-controls.header__slider-controls
                    button.btn-reset.slider-controls__btn.slider-controls__btn--prev.header__slider-btn.header__slider-btn--prev
                    .slider-controls__pag.header__slider-pag
                    button.btn-reset.slider-controls__btn.slider-controls__btn--next.header__slider-btn.header__slider-btn--next