section.producers.lazy(data-bg="img/section-bg.png")
    .container.producers__container
        .producers__top
            h2.producers__title.section-title Мы представляем 
                span производителей
            a.producers__link(href="#") Все производители
        .swiper-container.producers-slider
            button.btn-reset.slider-controls__btn.slider-controls__btn--prev.producers-slider__btn.producers-slider__btn--prev
            .swiper-wrapper.producers-slider__wrapper
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="157" height="56" data-src="img/prod-1.svg", src="img/1.png", alt="Производитель 1")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="158" height="30" data-src="img/prod-2.png", src="img/1.png", alt="Производитель 2")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="173" height="44" data-src="img/prod-3.png", src="img/1.png", alt="Производитель 3")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="160" height="44" data-src="img/prod-4.png", src="img/1.png", alt="Производитель 4")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="138" height="56" data-src="img/prod-5.png", src="img/1.png", alt="Производитель 5")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="154" height="34" data-src="img/prod-6.png", src="img/1.png", alt="Производитель 6")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="157" height="56" data-src="img/prod-1.png", src="img/1.png", alt="Производитель 1")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="158" height="30" data-src="img/prod-2.png", src="img/1.png", alt="Производитель 2")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="173" height="44" data-src="img/prod-3.png", src="img/1.png", alt="Производитель 3")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="160" height="44" data-src="img/prod-4.png", src="img/1.png", alt="Производитель 4")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="138" height="56" data-src="img/prod-5.png", src="img/1.png", alt="Производитель 5")
                    .swiper-lazy-preloader
                .swiper-slide.producers__item
                    img.producers__image.swiper-lazy(width="154" height="34" data-src="img/prod-6.png", src="img/1.png", alt="Производитель 6")
                    .swiper-lazy-preloader
            button.btn-reset.slider-controls__btn.slider-controls__btn--next.producers-slider__btn.producers-slider__btn--next