section.services.lazy(data-bg="img/section-bg2.png")
    span.services__shape
    .container.services__container
        .services__title
            span.section-title__line.section-title__line--left
            h2.section-title Наши 
                span услуги
            span.section-title__line.section-title__line--right
        .swiper-container.services-slider
            .swiper-wrapper.services__grid
                .swiper-slide.services-item
                    .services-item__image.services-item__image--1
                        img.lazy(data-src="img/serv-1.jpg" src="img/1.png" alt="Монтаж систем отопления")
                    h2.services-item__title Монтаж систем отопления
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next") 
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-2.jpg" src="img/1.png" alt="Монтаж котельного оборудования")
                    h2.services-item__title Монтаж котельного оборудования
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next") 
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-3.jpg" src="img/1.png" alt="Монтаж тепловых насосов")
                    h2.services-item__title Монтаж тепловых насосов
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next") 
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-4.jpg" src="img/1.png" alt="Монтаж водоснабжения")
                    h2.services-item__title Монтаж водоснабжения
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next")
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-5.jpg" src="img/1.png" alt="Монтаж систем водоподготовки")
                    h2.services-item__title Монтаж систем водоподготовки
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next") 
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-6.jpg" src="img/1.png" alt="Монтаж сантехнических приборов")
                    h2.services-item__title Монтаж сантехнических приборов
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next") 
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-7.jpg" src="img/1.png" alt="Монтаж канализации и стоков")
                    h2.services-item__title Монтаж канализации и стоков
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next") 
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-8.jpg" src="img/1.png" alt="Монтаж систем вентиляции")
                    h2.services-item__title Монтаж систем вентиляции 
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next")
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-9.jpg" src="img/1.png" alt="Проектирование инженерных систем")
                    h2.services-item__title Проектирование инженерных систем
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next") 
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-10.jpg" src="img/1.png" alt="Обслуживание систем отопления, водоснабжения, канализации")
                    h2.services-item__title Обслуживание систем отопления, водоснабжения, канализации
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next") 
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-11.jpg" src="img/1.png" alt="Промывка систем отопления хвс, гвс")
                    h2.services-item__title Промывка систем отопления хвс, гвс
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next") 
                .swiper-slide.services-item
                    .services-item__image
                        img.lazy(data-src="img/serv-12.jpg" src="img/1.png" alt="Мониторинг инженерных систем")
                    h2.services-item__title Мониторинг инженерных систем
                    a.services-item__link(href="#")
                        |Подробнее
                        +icon("next")
            .slider-controls.services-slider__controls
                button.btn-reset.slider-controls__btn.slider-controls__btn--prev.services-slider__btn.services-slider__btn--prev
                .swiper-pagination.services-slider__pag
                button.btn-reset.slider-controls__btn.slider-controls__btn--next.services-slider__btn.services-slider__btn--next
        a.services__link.primary-btn(href="#") Цены на услуги