section.we-work.lazy(data-bg="img/we-work-bg.jpg")
    .container.we-work__container
        h2.section-title.we-work__title Как мы работаем
        .swiper-container.we-work-slider
            .swiper-wrapper.we-work-slider__wrapper
                .swiper-slide.we-work__slide
                    h3.we-work__name Выезд на объект
                    p.we-work__desc Осмотр объекта. Проведение необходимых замеров
                    span.we-work__term 1-3 день.
                .swiper-slide.we-work__slide
                    h3.we-work__name Смета
                    p.we-work__desc Составление сметной документации
                    span.we-work__term 1-2 день.
                .swiper-slide.we-work__slide
                    h3.we-work__name Согласование
                    p.we-work__desc Согласование проекта и внесение корректировок
                    span.we-work__term 1-2 день.
                .swiper-slide.we-work__slide
                    h3.we-work__name Поставка материалов
                    p.we-work__desc Снабжение материалами и доставка на объект
                    span.we-work__term 2-7 день
                .swiper-slide.we-work__slide
                    h3.we-work__name Монтажные работы
                    p.we-work__desc Установка и проверка работоспособности систем
                    span.we-work__term 1-30 день
                .swiper-slide.we-work__slide
                    h3.we-work__name Сдача-приёмка
                    p.we-work__desc Подписание акта выполненных работ, окончательный расчет по договору
                    span.we-work__term 1-2 день
            .slider-controls.we-work-slider__controls
                button.btn-reset.slider-controls__btn.slider-controls__btn--prev.we-work-slider__btn.we-work-slider__btn--prev
                .swiper-pagination.we-work-slider__pag
                button.btn-reset.slider-controls__btn.slider-controls__btn--next.we-work-slider__btn.we-work-slider__btn--next