section.about
    .container.about__container
        h2.about__title.section-title О Компании
        .video.about__video(data-video="https://youtu.be/aD8_baoA-FM")
            .video__image
            button.btn-reset.video-play
                svg(width="68" height="48" viewBox="0 0 68 48")
                    path(class="video-play-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z")
                    path(class="video-play-icon" d="M 45,24 27,14 27,34")
        p.about__desc 
            span StopRadiators&nbsp;
            |- это команда профессионалов по-настоящему любящих своё дело. Более чем пятнадцатилетний опыт работы в сфере инженерных систем, позволяет решать задачи любой сложности. Монтаж выполняется, бригадами работающими в компании на постоянной основе. Благодаря собственному автопарку, материал доставляется к покупателям нашего интернет-магазина в кратчайшие сроки, в регионы мы доставляем товар любой транспортной компанией, на выбор клиента.
        a.about__link.primary-btn(href="#") 
            |Подробнее
            +icon("right")