section.products.recommended-products
    .container.products__container.recommended-products__container
        h2.section-title.products__title.recommended-products__title Рекомендуемые 
            span Товары
    .swiper-container.recommended-products-slider
        .swiper-wrapper.products__list
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-1.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="1" href="img/product-1.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-2.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="2" href="img/product-2.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-3.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="3" href="img/product-3.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-4.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="4" href="img/product-4.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-1.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="5" href="img/product-1.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-2.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="6" href="img/product-2.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-3.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="7" href="img/product-3.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-4.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="8" href="img/product-4.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-1.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="9" href="img/product-1.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
            article.swiper-slide.product
                .product__image
                    img.lazy(src="img/1.png" data-src="img/product-2.jpg", alt="Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода")
                    button.btn-reset.product__favorite
                        +icon("favorite")
                    a.product__zoom(data-fslightbox="10" href="img/product-2.jpg")
                        +icon("zoom")
                h2.product__title
                    a(href="card.html") Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                .product__bottom
                    .product__price Цена за шт
                        span 7 300.00 РУБ
                    .stepper
                        label.stepper__field
                            input.stepper__input(type="text" value="1" maxlength="3")
                            span.stepper__text шт.
                        .stepper__btns
                            button.btn-reset.stepper__btn.stepper__btn--down.stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                                svg(width="9" height="2" viewBox="0 0 9 2" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.83337 1.83317C4.09752 1.83317 5.39495 1.83317 1.16671 1.83317C0.708374 1.83317 0.333374 1.45817 0.333374 0.999838C0.333374 0.541504 0.708374 0.166504 1.16671 0.166504C4.90256 0.166504 3.60513 0.166504 7.83337 0.166504C8.29171 0.166504 8.66671 0.541504 8.66671 0.999838C8.66671 1.45817 8.29171 1.83317 7.83337 1.83317Z" fill="#C4C4C4")
                            button.btn-reset.stepper__btn.stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                                svg(width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.16669 5.8335H5.66669V8.3335C5.66669 8.79183 5.29169 9.16683 4.83335 9.16683C4.37502 9.16683 4.00002 8.79183 4.00002 8.3335V5.8335H1.50002C1.04169 5.8335 0.666687 5.4585 0.666687 5.00016C0.666687 4.54183 1.04169 4.16683 1.50002 4.16683H4.00002V1.66683C4.00002 1.2085 4.37502 0.833496 4.83335 0.833496C5.29169 0.833496 5.66669 1.2085 5.66669 1.66683V4.16683H8.16669C8.62502 4.16683 9.00002 4.54183 9.00002 5.00016C9.00002 5.4585 8.62502 5.8335 8.16669 5.8335Z" fill="#C4C4C4")
                .product__btns
                    a.product__link.primary-btn.product__link--buy(href="card.html")
                        +icon("buy")
                        |Купить
                    button.btn-reset.product__link.primary-btn(data-graph-animation="fedIn" data-graph-path="third" data-graph-speed="0")
                        +icon("basket")
                        |в корзину
                .product-info
                    .product-info__item
                        span.product-info__desc Артикул:
                        span.product-info__title SMS091200000
                    .product-info__item
                        span.product-info__desc Бренд:
                        span.product-info__title STOUT 
                            span (Италия) 
                            img.lazy(src="img/1.png" data-src="img/italy.png", alt="Italy")
                    .product-info__item
                        span.product-info__desc Наличие:
                        span.product-info__title 
                            +icon("check")
                            |В наличии
        .container.slider-controls.products-slider__controls
            button.btn-reset.slider-controls__btn.slider-controls__btn--prev.we-work-slider__btn.products-slider__btn--prev
            .swiper-pagination.products-slider__pag
            button.btn-reset.slider-controls__btn.slider-controls__btn--next.we-work-slider__btn.products-slider__btn--next