extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	.site-container
		include ../blocks/modules/header/header
		main.main
			include ../blocks/modules/advantages/advantages
			include ../blocks/modules/about/about
			include ../blocks/modules/services/services
			include ../blocks/modules/catalog/catalog
			include ../blocks/modules/producers/producers
			include ../blocks/modules/works/works
			include ../blocks/modules/we-work/we-work
			include ../blocks/modules/guarantee/guarantee
			include ../blocks/modules/info/info
			include ../blocks/modules/products/products
			include ../blocks/modules/videos/videos
			include ../blocks/modules/articles/articles
			include ../blocks/modules/questions/questions
		include ../blocks/modules/footer/footer
		include ../blocks/modules/modal/modal
block scripts
	script(src="js/main.js")

	script(src="js/vendor.js")