section.advantages
    h2.visually-hidden Наши приемущества
    .container.advantages__container
        .swiper-container.advantages-slider
            .swiper-wrapper.advantages-slider__wrapper
                .swiper-slide.advantages-slide
                    .advantages-slide__image
                        +icon("adv-1")
                    .advantages-slide__text
                        h2.advantages-slide__title Водяной теплый пол
                        p.advantages-slide__desc Эффективная и экономичная альтернатива радиаторам! 
                .swiper-slide.advantages-slide
                    .advantages-slide__image
                        +icon("adv-2")
                    .advantages-slide__text
                        h2.advantages-slide__title Монтаж отопления в загородных домах
                        p.advantages-slide__desc Подбор оборудования под ваш объект!
                .swiper-slide.advantages-slide
                    .advantages-slide__image
                        +icon("adv-3")
                    .advantages-slide__text
                        h2.advantages-slide__title Монтаж котельного оборудования под ключ
                        p.advantages-slide__desc Котлы любого типа и мощности!
                .swiper-slide.advantages-slide
                    .advantages-slide__image
                        +icon("asd")
                    .advantages-slide__text
                        h2.advantages-slide__title Проектирование инженерных систем
                        p.advantages-slide__desc Любого уровня и сложности!
                .swiper-slide.advantages-slide
                    .advantages-slide__image
                        +icon("adv-5")
                    .advantages-slide__text
                        h2.advantages-slide__title Мониторинг инженерных систем дома
                        p.advantages-slide__desc Управление отоплением со смартфона!
                .swiper-slide.advantages-slide
                    .advantages-slide__image
                        +icon("adv-6")
                    .advantages-slide__text
                        h2.advantages-slide__title Сервис и обслуживание
                        p.advantages-slide__desc Гарантийное и постгарантийное обслуживание для наших клиентов!
                .swiper-slide.advantages-slide
                    .advantages-slide__image
                        +icon("adv-7")
                    .advantages-slide__text
                        h2.advantages-slide__title Промывка систем отопления
                        p.advantages-slide__desc Химическим или гидропневматическим способом!
                .swiper-slide.advantages-slide
                    .advantages-slide__image
                        +icon("adv-8")
                    .advantages-slide__text
                        h2.advantages-slide__title Системы альтернативного отопления
                        p.advantages-slide__desc Тепловые насосы всех типов!
                .swiper-slide.advantages-slide
                    .advantages-slide__image
                        +icon("adv-9")
                    .advantages-slide__text
                        h2.advantages-slide__title Монтаж канализации и стоков
                        p.advantages-slide__desc Станции глубокой биологической очистки!
            .swiper-pagination.advantages-slider__pag
        .slider-controls.advantages-slider__controls
            button.btn-reset.slider-controls__btn.slider-controls__btn--prev.advantages-slider__btn.advantages-slider__btn--prev
            button.btn-reset.slider-controls__btn.slider-controls__btn--next.advantages-slider__btn.advantages-slider__btn--next
        ul.advantages__list.list-reset
            li.advantages__item
                +icon("delivery")
                span.advantages__desc Доставка по всей России
                p.advantages__tooltip По Санкт-Петербургу и ЛО мы доставляем материал своим транспортом. В регионы - любой транспортной компанией на выбор. До терминала в СПБ доставка осуществляется бесплатно!
            li.advantages__item
                +icon("experience")
                span.advantages__desc 16 лет опыта на рынке инженерных систем
                p.advantages__tooltip Мы более пятнадцати лет занимаемся инженерными системами, такой опыт позволяет подбирать оптимальные технические решения. Мы беремся за самые нестандартные задачи и доводим всё начатое до конца!
            li.advantages__item
                +icon("objects")
                span.advantages__desc Более 400 объектов различной сложности.
                p.advantages__tooltip Сотни объектов сданы нами довольным клиентам. Мы обслуживаем свои объекты в гарантийный и постгарантийный период!
            li.advantages__item
                +icon("complexity")
                span.advantages__desc Нам по силе задача любой сложности
                p.advantages__tooltip Еще не было задач с которыми мы не справились. Все взятые на себя обязательства мы прописываем в договоре и четко следуем ему!
            li.advantages__item
                +icon("brigades")
                span.advantages__desc Собственные бригады монтажников
                p.advantages__tooltip.advantages__tooltip--last В компании работают бригады только на постоянной основе. Весь персонал сертифицирован. Инструмент, автомобили предоставляются фирмой!
            li.advantages__item
                +icon("discounts")
                span.advantages__desc Скидки оптовиками и постоянным клиентам
                p.advantages__tooltip.advantages__tooltip--last Для постоянных покупателей, монтажников, архитекторов, дизайнеров у нас особые условия. Перед приобретением товара, всегда уточняйте у менеджеров компании условия по скидкам!
