section.catalog
    .container.catalog__container
        ul.catalog__grid.list-reset.catalog__grid--hidden
            li.catalog__item.catalog__item--big
                a.catalog__link.catalog__link--big(href="#") 
                    h2.catalog__title.catalog__title--big каталог 
                        span оборудования
                    p.catalog__desc для всех инженерных систем
                    span.catalog__tooltip
                        +icon("tooltip")
                        |Оплата и доставка
            li.catalog__item
                a.catalog__link.catalog__link--5(href="#")
                    img.lazy.catalog__image(width="26" height="45" data-src="img/cat-1.png" src="img/1.png" alt="Буферные емкости")
                    p.catalog__name.catalog__name--5 Буферные емкости
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="40" height="45" data-src="img/cat-2.png" src="img/1.png" alt="Водоподготовка")
                    p.catalog__name Водоподготовка
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="50" height="38" data-src="img/cat-3.png" src="img/1.png" alt="Тепловые насосы")
                    p.catalog__name Тепловые насосы
            li.catalog__item
                a.catalog__link.catalog__link--2(href="#")
                    img.lazy.catalog__image(width="26" height="50" data-src="img/cat-4.png" src="img/1.png" alt="ВОдонагрева-тели")
                    p.catalog__name.catalog__name--7 Водонагрева-тели
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="47" height="38" data-src="img/cat-5.png" src="img/1.png" alt="Радиаторы, конвекторы и полотенцесушители")
                    p.catalog__name Радиаторы, конвекторы и полотенцесуши<br>тели
            li.catalog__item
                a.catalog__link.catalog__link--4(href="#")
                    img.lazy.catalog__image(width="32" height="46" data-src="img/cat-6.png" src="img/1.png" alt="Котлы")
                    p.catalog__name.catalog__name--3 Котлы
            li.catalog__item
                a.catalog__link.catalog__link--4(href="#")
                    img.lazy.catalog__image(width="30" height="48" data-src="img/cat-7.png" src="img/1.png" alt="Оборудование для котельных")
                    p.catalog__name.catalog__name--3 Оборудование для котельных
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="45" height="48" data-src="img/cat-8.png" src="img/1.png" alt="Трубы, гофротрубы")
                    p.catalog__name Трубы, гофротрубы
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="45" height="48" data-src="img/cat-9.png" src="img/1.png" alt="Крепежные элементы")
                    p.catalog__name Крепежные элементы
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="45" height="48" data-src="img/cat-10.png" src="img/1.png" alt="Коллекторы")
                    p.catalog__name.catalog__name--2 Коллекторы
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="48" height="35" data-src="img/cat-11.png" src="img/1.png" alt="Насосное оборудование")
                    p.catalog__name Насосное оборудование
            li.catalog__item
                a.catalog__link.catalog__link--6(href="#")
                    img.lazy.catalog__image(width="40" height="48" data-src="img/cat-12.svg" src="img/1.png" alt="Автоматика")
                    p.catalog__name.catalog__name--8 Автоматика
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="45" height="48" data-src="img/cat-13.png" src="img/1.png" alt="Смесительные, теплообменные узлы")
                    p.catalog__name Смесительные, теплообменные узлы
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="45" height="48" data-src="img/cat-14.png" src="img/1.png" alt="Запорная и регулирующая арматура")
                    p.catalog__name Запорная и регулирующая арматура
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="45" height="48" data-src="img/cat-15.png" src="img/1.png" alt="Фитинги")
                    p.catalog__name.catalog__name--2 Фитинги
            li.catalog__item
                a.catalog__link.catalog__link--3(href="#")
                    img.lazy.catalog__image(width="45" height="48" data-src="img/cat-16.svg" src="img/1.png" alt="Лёгкие системы")
                    p.catalog__name.catalog__name--2 Лёгкие системы
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="48" height="48" data-src="img/cat-17.png" src="img/1.png" alt="Сантехника")
                    p.catalog__name.catalog__name--1 Сантехника
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="45" height="48" data-src="img/cat-18.png" src="img/1.png" alt="Дополнительные материалы")
                    p.catalog__name.catalog__name--2 Дополнитель-<br>ные материалы
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="57" height="48" data-src="img/cat-19.png" src="img/1.png" alt="Готовые комплекты для самостоятельной установки")
                    p.catalog__name Готовые комплекты для самостоятельн<br>ой установки
            li.catalog__item
                a.catalog__link(href="#")
                    img.lazy.catalog__image(width="51" height="49" data-src="img/cat-20.png" src="img/1.png" alt="Емкости")
                    p.catalog__name.catalog__name--1 Емкости
            li.catalog__item
                a.catalog__link.catalog__link--6(href="#")
                    img.lazy.catalog__image(width="38" height="48" data-src="img/cat-21.png" src="img/1.png" alt="Теплоносители и реагенты для очистки систем")
                    p.catalog__name.catalog__name--3 Теплоносители и реагенты для очистки систем
            li.catalog__item.catalog__item--medium
                a.catalog__link.catalog__link--medium(href="#")
                    img.lazy.catalog__image(width="48" height="48" data-src="img/cat-22.svg" src="img/1.png" alt="Локальные очистные сооружения")
                    p.catalog__name.catalog__name--medium Локальные очистные сооружения
            li.catalog__item.catalog__item--medium
                a.catalog__link.catalog__link--medium(href="#")
                    img.lazy.catalog__image(width="48" height="48" data-src="img/cat-23.png" src="img/1.png" alt="Вентиляция и кондиционирование")
                    p.catalog__name.catalog__name--medium Вентиляция и кондиционирова<br>ние
            li.catalog__item.catalog__item--medium
                a.catalog__link.catalog__link--medium(href="#")
                    img.lazy.catalog__image(width="81" height="40" data-src="img/cat-24.png" src="img/1.png" alt="Товары со скидкой")
                    p.catalog__name.catalog__name--medium Товары со скидкой
        button.btn-reset.catalog__more Показать больше