section.works
    .container.works__container
        h2.works__title ВЫПОЛНЕННЫЕ  
            span РАБОТЫ
        .works__top
            p.works__desc Результатом работы нашей команды за 16 лет остались довольны сотни клиентов. В этом разделе мы публикуем самые интересные из них.
            a.works__link.primary-btn(href="#") Все проекты
    ul.works__list.list-reset
        li.work__item.lazy(data-bg="img/work-1.png")
            a.work__link(href="#") 
                h3.work__title Квартира 96 м2 в жилом комплексе Рай в шалаше"
                span.work__more
                    |Подробнее
                    +icon("next2")
        li.work__item.lazy(data-bg="img/work-2.png")
            a.work__link(href="#") 
                h3.work__title Квартира 96 м2 в жилом комплексе Рай в шалаше"
                span.work__more
                    |Подробнее
                    +icon("next2")
        li.work__item.lazy(data-bg="img/work-3.png")
            a.work__link(href="#") 
                h3.work__title Квартира 96 м2 в жилом комплексе Рай в шалаше"
                span.work__more
                    |Подробнее
                    +icon("next2")
        li.work__item.lazy(data-bg="img/work-4.png")
            a.work__link(href="#") 
                h3.work__title Квартира 96 м2 в жилом комплексе Рай в шалаше"
                span.work__more
                    |Подробнее
                    +icon("next2")