footer.footer
    .footer__container
        .footer__top.container
            .footer__menu
                .footer__col
                    h2.footer__title Интернет магазин
                    ul.footer__list.list-reset
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Каталог оборудования
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Список услуг
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Наши работы
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Вопрос-ответ 
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Видео
                .footer__col
                    h2.footer__title ИНФОРМАЦИЯ
                    ul.footer__list.list-reset
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |О компании
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Новости
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Статьи
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Акции
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Контакты
                .footer__col
                    h2.footer__title ПОКУПАТЕЛЯМ
                    ul.footer__list.list-reset
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Как сделать заказ?
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Нашли дешевле?
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Оплата
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Доставка
                        li.footer__item
                            a.footer__link(href="#")
                                +icon("next")
                                |Гарантия и возврат
            .footer__contacts
                h2.footer__title Наши Конакты
                .tell.footer__item.footer__tell
                    a.tell__icon.tell__icon--2(href="#")
                    .tell__text
                        .tell__value.tell__value--bold 
                            a.tell__link(href="tel:88122452346") 8 (812) 245-23-46
                            a.tell__link(href="tel:88122452346") 8 (812) 245-23-46
                        a(href="tel:88122452346").tell__desc Режим работы: Пн-Пт - 9:00- 19:00
                .mail.footer__item.footer__mail
                    a.mail__icon.mail__icon--2(href="#")
                    .mail__text
                        span.mail__desc Почта:
                        a.mail__value.mail__value--bold(href="mailto:info@stopradiators.ru") info@stopradiators.ru
                    a.mail__link(href="#" data-da=".footer__contacts, 576, last")
                        +icon("whatsapp")
                        |написать нам!
                .map.footer__map
                    a.map__icon.map__icon--2(href="#")
                    .map__desc 194356, г. Санкт-Петербург 
                        span Выборгское шоссе, д.212 «Выставка коттеджей в Озерках», Строение №8.
            ul.social.footer__social.list-reset
                li.social__item
                    a.social__link.social__link--vk(href="#")
                        +icon("vk")
                li.social__item
                    a.social__link.social__link--tw(href="#")
                        +icon("tw")
                li.social__item
                    a.social__link.social__link--ok(href="#")
                        +icon("ok")
                li.social__item
                    a.social__link.social__link--fb(href="#")
                        +icon("fb")
                li.social__item
                    a.social__link.social__link--ig(href="#")
                        +icon("ig")
                li.social__item
                    a.social__link.social__link--yt(href="#")
                        +icon("yt")
    .container
        .footer__bottom
            .footer__left
                a.logo.footer__logo(href="/" data-da=".footer__top, 576, first")
                    img.logo__image.lazy(data-src="img/logo.png", src="img/1.png" alt="Логотип сайта")
                    .logo__text
                        span.logo__title STOPRADIATORS
                        span.logo__subtitle все инженерные сети
                span.footer__copy 2021 © «StopRadiators» Все права защищены.
            .footer__cards(data-da=".footer__bottom, 576, last")
                .pay-cards__desc Мы принимаем к оплате карты:
                .pay-cards
                    span.pay-cards__icon.pay-cards__icon--mastercard
                    span.pay-cards__icon.pay-cards__icon--visa
                    span.pay-cards__icon.pay-cards__icon--mir