.cart {
    &-table {
        padding: 36px;
        padding-top: 0;
        &__top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            margin-bottom: 15px;
            padding-right: 100px;
            border-bottom: 2px solid #EBEDEE;
        }
        &__name {
            display: inline-block;
            font-family: "Roboto", sans-serif;
            color: #798797;
            line-height: 20px;
            &:not(:last-child) {
                margin-right: 76px;
            }
        }
        &__right {
            margin-left: auto;
        }
        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}