section.info
    .container.info__container
        h2.section-title.info__title ВОДЯНОЙ ТЕПЛЫЙ ПОЛ В 
            span САНКТ-ПЕТЕРБУРГЕ
        p.info__desc Для создания уютной атмосферы в своем доме или квартире, стоит правильно подобрать пол. Это сложный и длительный процесс, ведь требуется учитывать массу факторов: начиная от возможного дизайна и заканчивая качеством материалов, которые используются для создания пола и надежности конструкций. Так почему все больше людей предпочитают купить водяной теплый пол? С чем это связано?
        p.info__desc Безусловно, комплектующие для его создания предлагает очень большое количество компаний-производителей, поэтому покупателей обязательно порадует разнообразие фактур и цветов. Теплый пол замечательно подходит для помещений разных размеров и площади. Вместе с тем, это покрытие является довольно энергоэффективным, потому не потребляет большое количество электричества.
        h3.info__subtitle.section-title ПЛЮСЫ ПРИОБРЕТЕНИЯ ВОДЯНОГО ТЕПЛОГО ПОЛА
        p.info__desc Какими основными преимуществами обладает пол такого типа и почему ему все чаще отдают предпочтение?<br>
            span Мы выделили несколько основных преимуществ, почему водяной теплый пол так востребован среди покупателей. Рекомендуем обратить внимание на несколько ключевых моментов:
        ul.info__list.list-reset
            li.info__item Во-первых, пол монтируется из качественных и экологически безопасных материалов, которые не загрязняют внутреннюю среду или микроклимат в доме.
            li.info__item Купить такой пол стоит и потому, что он является современной отопительной системой, которая может стать не только альтернативным, но еще и главным источником тепла. Тем более, стоимость водяного теплого пола является очень выгодной.
            li.info__item А еще причина его популярности состоит в том, что в процессе эксплуатации, благодаря совершенной системе отопления, значительно снижаются расходы на электрическую энергию. Если говорить о зданиях со стандартной высотой, то это до 25 % экономии.
            li.info__item Стоимость данного пола — это не единственное преимущество, которое толкает выбирать именно такую систему отопления. Ведь с его помощью можно сделать обогрев более равномерным и эффективным. На открытой поверхности нет горячих предметов, которые могут потенциально воспламениться, а это хорошая гарантия избежать возможного пожара.
            li.info__item На продукцию предоставляются гарантийные обязательства, что являются важным подтверждением надежности конструкции. Поэтому такой вариант подойдет практически всем.
            li.info__item Стоит сказать и о том, что купить водяной теплый пол выгодно еще и потому, что он имеет эстетический внешний вид, и идеально вписывается в практически любой дизайн интерьера. И все тепловые контуры скрываются под покрытием, поэтому совершенно не будут влиять на внешний вид квартиры или дома.
            li.info__item Системы обогрева прослужат на протяжении длительного времени, эксперты утверждают, что их эксплуатационный период может достигать даже 50 лет.
        q.info__quote.lazy(data-bg="img/section-bg3.png") НАЗВАНИЕ STOPRADIATORS ТОЧНО ОТРАЖАЕТ ОСНОВНУЮ ИДЕЮ НАШЕЙ РАБОТЫ. МЫ ПОМОГАЕМ ЛЮДЯМ ИЗБАВИТЬСЯ ОТ ЖЕЛЕЗНЫХ РАДИАТОРОВ НА СТЕНАХ КВАРТИР 
            span — ВМЕСТО НИХ УСТАНАВЛИВАЕМ СИСТЕМЫ ОТОПЛЕНИЯ, КОТОРЫЕ НЕ ВИДНЫ ГЛАЗУ, НО В ПОЛНОМ ОБЪЁМЕ ОБЕСПЕЧИВАЮТ ПОМЕЩЕНИЯ ТЕПЛОМ.
        span.info__shape
            
        p.info__desc 
            a.info__link(href="#") Монтаж водяного теплого пола 
            | осуществляется только специалистами при наличии всего необходимого оборудования, что позволяет провести работы максимально эффективно и с минимальными временными затратами. А после грамотно проделанной работы, дом даже в самое холодное время года будет теплым и уютным.