section.articles
    .container.articles__container
        h2.section-title.articles__title наши статьи
        .swiper-container.articles-slider
            .swiper-wrapper.articles-slider__wrapper
                article.swiper-slide.article
                    span.article__date 16 марта 2020
                    .article__image.lazy(data-bg="img/article-1.png")
                    h3.article__title Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода <br> без расходомеров 4 выхода
                    p.article__desc Для создания уютной атмосферы в своем доме или квартире, стоит правильно подобрать пол. Это сложный и длительный процесс предпочитают ...
                    a.article__link(href="#")
                        |Подробнее
                        +icon("next")
                article.swiper-slide.article
                    span.article__date 16 марта 2020
                    .article__image.lazy(data-bg="img/article-2.png")
                    h3.article__title Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                    p.article__desc Для создания уютной атмосферы в своем доме или квартире, стоит правильно подобрать пол. Это сложный и длительный процесс предпочитают ...
                    a.article__link(href="#")
                        |Подробнее
                        +icon("next")
                article.swiper-slide.article
                    span.article__date 16 марта 2020
                    .article__image.lazy(data-bg="img/article-3.png")
                    h3.article__title Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                    p.article__desc Для создания уютной атмосферы в своем доме или квартире, стоит правильно подобрать пол. Это сложный и длительный процесс предпочитают ...
                    a.article__link(href="#")
                        |Подробнее
                        +icon("next")
                article.swiper-slide.article
                    span.article__date 16 марта 2020
                    .article__image.lazy(data-bg="img/article-1.png")
                    h3.article__title Коллектор Stout из нержавеющей стали в сборе без расходомеров 4 выхода
                    p.article__desc Для создания уютной атмосферы в своем доме или квартире, стоит правильно подобрать пол. Это сложный и длительный процесс предпочитают ...
                    a.article__link(href="#")
                        |Подробнее
                        +icon("next")
        a.articles__link(href="#") все статьи